html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	font-family: 'Poppins';
}

.main {flex: 1;}

.b-lazy {
	opacity: 0;
	transition: 0.1s ease;
}

.b-lazy.b-loaded {
	opacity: 1;
}

.wrapper {
	width: 100%;
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.wrapper-s { max-width: 1128px; }
.wrapper-l { max-width: 1366px; }

@media (max-width: 960px) {
	.wrapper {padding: 0 16px;}
}

.main { margin-top: 32px; }

.main-title {
	width: 100%;
	max-width: 640px;
	margin: 0 auto 32px;
	color: var(--black-600);
}

.rw {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.rw:not(:last-child) {margin-bottom: 16px;}
.rw-article:not(:last-child) {margin-bottom: 40px;}

.rw-main {
	width: 100%;
	max-width: 860px;
	margin-right: 40px;
}

.rw-sidebar {
	width: 100%;
	max-width: 300px;
	padding-bottom: 36px;
}

.row-item {margin-bottom: 24px;}

@media (max-width: 1050px) {
	.rw-main {max-width: 643px;}
}

@media (max-width: 1023px) {
	.rw-main {max-width: 584px;}
}

@media (max-width: 960px) {
	.rw {
		display: block;
	}

	.rw:not(:last-child) {margin-bottom: 48px;}
	
	.rw-main {
		max-width: 100%;
		margin: 0 0 32px;
	}
	
	.rw-sidebar {
		position: static;
		max-width: 100%;
		padding-bottom: 0;
	}
}

.adv {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 12px;
	background: var(--gray-300);
	border-radius: 8px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #808080;
}

.adv-img {
	width: 100%;
}

.adv-img img {width: 100%;}

.adv-img:not(:last-child),
.adv:not(:last-child) {margin-bottom: 24px;}

@media (max-width: 960px) {
	.adv-img:not(:last-child),
	.adv:not(:last-child) {margin-bottom: 42px;}
}

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 2px;
	margin-top: -16px;
}

.breadcrumbs a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--black-600);
	transition: 0.3s ease;
}

.breadcrumbs a img {margin-right: 6px;}

.share-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 32px;
}

.share-row p {
	margin-right: 19px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--black-600);
}

.share-row a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	min-width: 32px;
	max-width: 32px;
	width: 32px;
	overflow: hidden;
	border-radius: 8px;
	transition: 0.3s ease;
}

.share-row a img {width: 100%;}

.share-row a:not(:last-child) {margin-right: 8px;}

@media (min-width: 1200px) {
	.share-row a:hover {opacity: 0.85;}
}

.comments img {width: 100%;}

@media (max-width: 960px) {

	.share-row a {
		height: 40px;
		min-width: 40px;
		max-width: 40px;
		width: 40px;
	}
	.share-row a:not(:last-child) {margin-right: 12px;}
}
