body {
	font-family: 'Poppins';
}

.b-lazy {
	opacity: 0;
	transition: 0.1s ease;
}

.b-lazy.b-loaded {
	opacity: 1;
}

.wrapper {
	width: 100%;
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.wrapper-l { max-width: 1366px; }

@media (max-width: 960px) {
	.wrapper {padding: 0 16px;}
}

.main h1 {
	width: 100%;
	max-width: 640px;
	margin: 32px auto;
	color: var(--black);
}

.rw {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.rw:not(:last-child) {margin-bottom: 16px;}

.rw-main {
	width: 100%;
	max-width: 860px;
	margin-right: 40px;
}

.rw-sidebar {
  position: -webkit-sticky;
  position: sticky;
	top: 10px;
	width: 100%;
	max-width: 300px;
	padding-bottom: 36px;
}

@media (max-width: 960px) {
	.main h1 {
		font-size: 24px;
		line-height: 32px;
	}

	.rw {
		display: block;
	}

	.rw:not(:last-child) {margin-bottom: 48px;}
	
	.rw-main {
		max-width: 100%;
		margin: 0 0 32px;
	}
	
	.rw-sidebar {
		position: static;
		max-width: 100%;
		padding-bottom: 0;
	}
}

.adv {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 12px;
	background: var(--gray-300);
	border-radius: 8px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #808080;
}

.adv-img {
	width: 100%;
}

.adv-img img {width: 100%;}

.adv-img:not(:last-child),
.adv:not(:last-child) {margin-bottom: 24px;}

@media (max-width: 960px) {
	.adv-img:not(:last-child),
	.adv:not(:last-child) {margin-bottom: 42px;}
}


.sub {
	display: block;
	width: 100%;
	padding: 16px;
	background: #EDEFF5;
	border-radius: 8px;
}

.sub-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 14px;
}

.sub-head-img {
	display: block;
	width: 100%;
	max-width: 48px;
	margin-right: 14px;
}

.sub-head-title,
.sub-success-title {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: var(--black-600);
}

.sub-success-title {
	width: 100%;
	text-align: center;
}

.sub-form {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.sub-form input {
	width: 100%;
	padding: 0 12px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 38px;
	color: var(--gray-400);
	transition: 0.3s ease;
	box-shadow: none;
	outline: none;
	background-color: var(--white);
}

.sub-form input:not(:last-child) {
	width: calc(100% - 48px);
}

.sub-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--gray-400);
}
.sub-form input::-moz-placeholder { /* Firefox 19+ */
  color: var(--gray-400);
}
.sub-form input:-ms-input-placeholder { /* IE 10+ */
  color: var(--gray-400);
}
.sub-form input:-moz-placeholder { /* Firefox 18- */
  color: var(--gray-400);
}

.sub-form input:focus {
	border: 1px solid #6D1EC1;
}

@media (min-width: 1200px) {
	.sub-form input:hover {
		border: 1px solid #6D1EC1;
	}
}

.sub-form button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	min-width: 40px;
	height: 40px;
	background: #6D1EC1;
	border-radius: 4px;
	outline: none;
	border: none;
	box-shadow: none;
	transition: 0.3s ease;
}

@media (min-width: 1200px) {
	.sub-form button:hover {
		background: #4E02AE;
	}
}

.sub-form p {
	display: none;
	margin-top: 2px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #E30A00;
}

.sub.edit input:invalid {border: 1px solid #E30A00;}

.sub.edit input:invalid ~ p {
	display: block;
}

.sub-success {
	display: none;
	width: 100%;
}

.sub-success-img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 14px;
	width: 100%;
	max-width: 32px;
}

.sub-success-img img {width: 100%;}

.sub.success .sub-success {display: block;}
.sub.success .sub-cnt {display: none;}
