.pagination-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: inline-block;
}

.pagination-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--black-600);
  border-radius: 4px;
  transition: 0.3s ease;
}

@media (min-width: 1200px) {
  .pagination-item:not(.active):not(.disabled) a:hover {
    background: #D9D9D9;
  }
}

.pagination-item:not(.pagination-arrow) a {
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.pagination-item.active a {
  background: #D9D9D9;
}

.pagination-arrow a {
  height: 40px;
  min-height: 40px;
  min-width: 120px;
}

.pagination-item:not(:last-child) {margin-right: 4px;}

.pagination-arrow img:first-child {margin-right: 6px;}
.pagination-arrow img:last-child {margin-left: 6px;}

.pagination-arrow:first-child {margin-right: 115px;}
.pagination-arrow:last-child {margin-left: 115px;}

@media (max-width: 1300px) {
  .pagination-arrow:first-child {margin-right: 80px;}
  .pagination-arrow:last-child {margin-left: 80px;}
}

@media (max-width: 960px) {
  .pagination {max-width: 343px;}
  .pagination-arrow a {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
  }
  .pagination-arrow span {display: none;}
  .pagination-arrow:first-child {margin-right: 0px;}
  .pagination-arrow:last-child {margin-left: 0px;}
}


@media (max-width: 370px) {
  .pagination-arrow {display: none;}
}
