.sub {
	display: block;
	width: 100%;
	padding: 16px;
	background: #EDEFF5;
	border-radius: 8px;
}

.sub:not(:last-child) {margin-bottom: 40px;}

.sub-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 14px;
}

.sub-head-img {
	display: block;
	width: 100%;
	max-width: 48px;
	margin-right: 14px;
}

.sub-head-title,
.sub-success-title {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: var(--black-600);
}

.sub-success-title {
	width: 100%;
	text-align: center;
}

.sub-form {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

@media (min-width: 1200px) {
	.sub-form input:hover {
		border: 1px solid var(--gray-400);
	}
}

.sub-form button:not(.btn) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	min-width: 40px;
	height: 40px;
	background: #6D1EC1;
	border-radius: 4px;
	outline: none;
	border: none;
	box-shadow: none;
	transition: 0.3s ease;
}

@media (min-width: 1200px) {
	.sub-form button:not(.btn):hover {
		background: #4E02AE;
	}
}

.sub-form p {
	display: none;
	margin-top: 2px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #E30A00;
}

.sub.edit input:invalid ~ p {
	display: block;
}

.sub-success {
	display: none;
	width: 100%;
}

.sub-success-img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 14px;
	width: 100%;
	max-width: 40px;
}

.sub-success-img img,
.sub-success-img video {width: 100%;}

.sub.success .sub-success {display: block;}
.sub.success .sub-cnt {display: none;}


.sub-big {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px;
}

.sub-big .sub-cnt {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-big .sub-head {
	justify-content: center;
	margin: 0 24px 0 0;
}

.sub-big .sub-head-img {
	max-width: 76px;
	min-width: 76px;
	margin-right: 0;
}

.sub-big .sub-head-title,
.sub-big .sub-success-title {
	font-size: 16px;
	line-height: 24px;
}

.sub-big .sub-head-title {
	margin-bottom: 12px;
	text-align: left;
}

.sub-big .sub-form .btn {
	min-width: 112px;
	line-height: 40px;
}

.sub-big .sub-success,
.sub-big .sub-cnt {
	max-width: 518px;
	margin: 0 auto;
}

.sub-big .sub-cnt input {width: calc(100% - 124px);}

.sub-big .sub-cnt img {
	width: 100%;
	height: auto;
}

.sub-mobile {display: none;}

@media (max-width: 960px) {
	.sub-mobile {display: block;}
	.sub-pc {display: none;}
}
