h1,
h2,
h3,
h4,
h5,
h6,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  color: var(--black-500);
}

h1,
.heading-1 {
  font-size: 44px;
  line-height: 64px;
}

h2,
.heading-2 {
  font-size: 30px;
  line-height: 40px;
}

@media (max-width: 960px) {
  h1,
  .heading-1,
  h2,
  .heading-2 {
    font-size: 24px;
    line-height: 32px;
  }
}

h3,
.heading-3 {
  font-size: 24px;
  line-height: 32px;
}

@media (max-width: 960px) {
  h3,
  .heading-3 {
    font-size: 20px;
    line-height: 32px;
  }
}

h4,
.heading-4 {
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 960px) {
  h4,
  .heading-4 {
    font-size: 16px;
    line-height: 24px;
  }
}

h5,
.heading-5 {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 960px) {
  h5,
  .heading-5 {
    font-size: 14px;
    line-height: 20px;
  }
}

h6,
.heading-6 {
  font-size: 14px;
  line-height: 20px;
}

.text-center {text-align: center;}

.title {
  margin-bottom: 16px;
  color: var(--black-600);
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  margin-bottom: 22px;
  border-bottom: 1px solid #EAEAEA;
}

.title-row h3 {color: var(--black-600);}

.title-row a,
.title-row-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0670EB;
  transition: 0.3s ease;
}

.title-row-link {display: none;}

@media (min-width: 1200px) {
  .title-row a:hover {color: #005AC4;}
}

@media (max-width: 960px) {
  .title-row a {display: none;}
  .title-row-link {
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
  }
}

.page-title { color: var(--black); }

.page-title:not(:last-child) {margin-bottom: 8px;}

@media (max-width: 960px) {
  .page-title { text-align: center; }
}

.page-subtitle {
  width: 100%;
  max-width: 540px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--black-600);
}

.page-subtitle:not(:last-child) {margin-bottom: 24px;}

@media (max-width: 960px) {
  .page-subtitle { 
    margin: 0 auto;
    text-align: center; 
  }

  .page-subtitle:not(:last-child) {margin-bottom: 32px;}
}

.subtitle {text-align: center;}

.subtitle:not(:last-child) {margin-bottom: 16px;}
