.main-article {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  overflow: hidden;
}

.main-article:not(:last-child) {margin-bottom: 40px;}

.main-article::before {
  content: '';
  display: block;
  padding-top: 53.5%;
}

.main-article-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease;
}

.main-article-cnt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 13px 20px;
  background-color: rgba(34, 34, 34, 0.7);
}

.main-article-title {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--white);
}

.main-article-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.main-article-tags span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.main-article-tags span:not(:last-child) {margin-right: 16px;}

.main-article-tags span img {margin-right: 8px;}

@media (min-width: 1200px) {
  .main-article:hover .main-article-img{
    transform: scale(1.03);
  }
}

@media (max-width: 960px) {
  .main-article::before {
    padding-top: 76%;
  }
  .main-article-cnt {
    padding: 12px 16px;
  }
  
  .main-article-title {
    font-size: 16px;
    line-height: 24px;
  }
}
